<div class="row"> <!-- data-equalizer-->
  <div class="large-12 columns">
    <div class="callout clearfix large">
    <h2 class="pageTitle" id="skillsTitle">Technical Skills</h2>

    
    <div class="medium-12 columns">
      

  		<div class="medium-4 columns" > <!--data-equalizer-watch--> 
        <!-- the below is the Angular JS Search and SortBy -->
    			<p>
            Search:
            <input ng-model="$ctrl.query" />
    	  	</p>
    		 	<p>
    		    Sort by:
    		    <select ng-model="$ctrl.orderProp">
              <option value="age">Order in Resume</option>
    		      <option value="name">Alphabetical: (A - Z)</option>
    		      <option value="-name">Alphabetical: (Z - A)</option>
    		    </select>
    		  </p>
    		</div>

    		<div class="medium-8 columns">
    			<ul class="skills">
    				<li ng-repeat="skills in $ctrl.skills | filter:$ctrl.query | orderBy:$ctrl.orderProp">
    				  <span class="skillsName">{{skills.name}}</span>
    				  <p>{{skills.snippet}}</p>
    				</li>
    			</ul>

          <p>Note: The Search and SortBy are implemented with Angular JS.</p>
    		</div>
	</div>


    </div>
  </div> <!-- end large-12 columns -->
</div> <!-- end row -->
